html, body, div#root {
    height: 100%;
    min-height: 100%;
    margin: 0 auto
    /*background-size: cover;*/
    /*background: linear-gradient(45deg, #E8C4D0 30%, #71CFEB 90%);*/
    /*background: #AEDFF9;*/
}